@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/*
  ====== VARIABLES ======
*/
:root {
  --text-color-main: white;
  --size-titles: 64px;
  --size-subtitles: 24px;
  --size-highlights-paragraphs: 19px;
  --size-paragraphs: 14px;
  --gap-standard: 12px;
  --padding-standard: 32px;
  --color-button: #40444f60;
}

/*
  ====== GENERALES ======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Asegura que los paddings no alteren el ancho total */
  font-family: "Roboto", sans-serif;
  color: var(--text-color-main);
}

body {
  background-color: black;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

/*
  ====== REUTILIZABLES ======
*/
.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex-main-center {
  justify-content: center;
}

.flex-main-space-between {
  justify-content: space-between;
}

.flex-secondary-center {
  align-items: center;
}

.gap-standard {
  gap: var(--gap-standard);
}

.padding-standard {
  padding: var(--padding-standard);
}

.transparent {
  background-color: transparent;
}

/*
  ====== HEADER ======
*/
header {
  background-image: radial-gradient(at left center, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url("https://starlink.com/assets-new/images/landing/field/v4_night_sky.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 0 32px;
}

nav {
  padding: 32px 0px 0 0;
}

.circular-button {
  border-radius: 100%;
  padding: 10px;
  background-color: var(--color-button);
}

.button-inactive {
  padding: 2px 8px;
}

.button-active {
  padding: 2px 6px;
  background-color: rgba(199, 199, 199, 0.753);
  border-radius: 8px;
}

.buttons-menu {
  background-color: rgba(128, 128, 128, 0.737);
  padding: 2px;
  border-radius: 8px;
  margin-right: 15px;
}

.buttons-menu>button {
  padding: 8px 16px;
  font-weight: 600;
}

.link-menu {
  font-size: var(--size-paragraphs);
  font-weight: 600;
}

.col-content {
  display: flex;
}

.button-hightlight {
  background-color: white;
  color: black;
}

.button-nohightlight {
  background-color: rgba(37, 39, 43, 0.733);
  color: white;
}

#logo {
  letter-spacing: 4px;
  font-size: 16px;
  margin-right: 16px;
}

#header-section {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

#column-content {
  gap: 16px;
  padding: 0 0 120px 120px;
}

#column-content>h1 {
  font-size: var(--size-titles);
  font-weight: 800;
}

#column-content>p {
  font-size: var(--size-paragraphs);
  color: rgb(145, 145, 145);
  font-weight: 600;
}

#column-content>h2 {
  font-size: var(--size-titles);
  font-weight: 600;
}

#column-content>h2>span {
  font-size: var(--size-highlights-paragraphs);
  color: rgb(145, 145, 145);
}

#column-content>div {
  display: flex;
  gap: 16px;
}

#column-content>div>button {
  padding: 8px 32px;
  font-size: var(--size-paragraphs);
  font-weight: 600;
  border-radius: 6px;
}

/*
  ====== PLAN SECTION ======
*/
.plan-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://starlink.com/assets-new/images/landing/illustrations/illustration_07.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  padding: 96px 20px 112px;
  max-height: 900px;
}

.plan-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

#plan-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  width: 100%;
  margin-top: 40px;
}

.square-plan-content {
  background-color: rgb(19, 19, 19);
  backdrop-filter: blur(4px);
  border-radius: 12px;
  padding: 32px;
  min-height: 320px;
}

.plan-info h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  letter-spacing: -0.3px;
}

.plan-info p {
  font-size: 13px;
  color: #a1a1a1;
  line-height: 1.5;
}

div>ul>li {
  font-size: 13px;
  color: #a1a1a1;
  line-height: 1.5;
  margin: 8px 0;
}

div>ul {
  padding: 0 40px;
}

.desde-text {
  font-size: 11px;
  color: #757575;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 4px;
  line-height: normal;
}

.plan-price h2 {
  font-size: 40px;
  font-weight: 700;
  display: flex;
  align-items: baseline;
}

.plan-price h2 span {
  font-size: 14px;
  color: #757575;
  margin-left: 4px;
}

#plan-info>ul>li {
  font-size: 13px;
  color: #a1a1a1;
  line-height: 1.5;
}

/* TEXTO NOTA INFERIOR*/

.nota-text {
  margin-top: 40px;
  text-align: center;
  max-width: 800px;
}

.nota-text p {
  font-size: 11px;
  color: #666666;
  line-height: 1.6;
}

/*
  ====== RAIN AND CAR SECTION ======
*/
.rain-section {
  background-image: radial-gradient(at left center, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
    url(" https://starlink.com/assets-new/images/landing/field/v4_lightning.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 16px 32px;
  min-height: 90vh;
  width: 100%;
}

.car-section {
  background-image: radial-gradient(at left center, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
    url(" https://starlink.com/assets-new/images/landing/field/v4_car_on_ice.webp");
  background-size: cover;
  background-position: center;
  padding: 16px 32px;
  min-height: 90vh;
  width: 100%;
}

#rain-content {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
  justify-content: center;
}

#rain-content h1 {
  font-size: 50px;
  font-weight: 600;
}

#rain-content p {
  font-size: 21px;
  font-weight: 400;
  color: #a1a1a1;
  line-height: 30px;
  margin: 20px 0;
}

#rain-content>div {
  padding: 30% 0 30% 30%;
}

/*CARRUSEL SECTION*/

.carrusel-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.778)),
    url("https://starlink.com/assets-new/images/landing/illustrations/illustration_08.webp");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 64px 0px;
}

.carrusel-section h1 {
  padding-bottom: 64px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}


#carrusel p {
  font-size: 21px;
  font-weight: 400;
  color: #a1a1a1;
  line-height: 30px;
  margin: 20px 0;
}

.square-carrusel-content {
  src: url(https://starlink.com/assets-new/images/landing/field/v4_montana_dusk_sky.webp);
  border-radius: 12px;
  min-height: 200px;
}

.scroll-carrusel {
  display: flex;
  overflow-x: auto;
  gap: 32px;
  scroll-behavior: smooth;
  padding: 48px 16px 16px 16px;
  margin: 0 0 32px 0
}


.slide-carrusel {
  width: 33%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: ;
}

.slide-carrusel img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 10;
  border-radius: 16px;
  margin-bottom: 16px;
  object-fit: cover;
}